body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --------------------------------------------------------------------------------------------------------- */

form {
  width: 30rem;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  position: relative;
  display: inline-block;
  justify-content: space-between;
}

.description p {
  position: absolute;
  top: -0.5rem;
}

.default {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.default-city {
  width: 20rem;
  margin: 5rem 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(117, 128, 233);
  color: #fff;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
}

.form-div {
  width: 55rem;
  margin: 5rem 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(117, 128, 233);
  color: #f3f3f3;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
}

.form-div form input {
  width: 20rem;
  height: 3rem;
  padding: 1rem;
  outline: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid;
  border-radius: 1.5rem;
  font-size: 2rem;
  /* background-color: rgb(186, 226, 226); */
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: color 1s;
}

.form-div form input::placeholder {
  color: #fff;
}
.form-div form input:focus::placeholder {
  color: #000;
}
.form-div button {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  /* /// */
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
}

.form-div .input-button {
  position: relative;
  display: inline;
}

.form-div form input:hover {
  color: #090909;
}

.form-div h1 {
  text-align: center;
}

.form-div h2 {
  display: block;
}

.form-div p,
.form-div img {
  display: inline-block;
}

.form-div .more-info h4 {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0;
  padding: 0;
}

header {
  background-color: #f5ba13;
  padding: 5px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1.5rem;
}

header h1 {
  text-align: center;
}

.TR {
  display: inline-block;
  margin: 0 auto 1rem;
  padding: 0 2rem;
  background-color: rgb(106, 118, 223);
  color: #ececec;
  border-radius: 1.5rem;
}
.TR h5 {
  margin-block: 3rem;
}

@media screen and (max-width: 1250px) {
  .default {
    display: flex;
    flex-direction: column;
  }
  .default-city {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .form-div {
    width: auto;
  }
}
@media screen and (max-width: 870px) {
  .TR {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  form {
    width: auto;
  }
  .form-div form input {
    width: 15rem;
  }
  .form-div {
    width: auto;
  }
}
