body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f3f3f3; */
  background-color: #5f98e4;
  background-image: url("https://wallpaperaccess.com/full/316117.jpg");
  background-size: cover;
  background-position: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --------------------------------------------------------------------------------------------------------- */

form {
  width: 30rem;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.backgroundImg {
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/ca/f3/3b/caf33b6f1e780a09082433dbae2e9fd1.jpg");
}

.description {
  position: relative;
  display: inline-block;
  justify-content: space-between;
}

.description p {
  position: absolute;
  top: -0.5rem;
}

.default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f1f1f1;
  margin-bottom: -2rem;
}

.default-city {
  width: 20rem;
  margin: 5rem 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(5, 5, 5);
  text-shadow: 2px 2px #fff;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
}

.form-div {
  width: 55rem;
  margin: 5rem 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(90, 156, 243);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1.5rem;
  color: #000000;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
}

.form-div form input {
  width: 20rem;
  height: 3rem;
  padding: 1rem;
  outline: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid;
  border-radius: 1.5rem;
  font-size: 2rem;
  /* background-color: rgb(186, 226, 226); */
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: color 1s;
}

.form-div form input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.form-div form input:focus::placeholder {
  color: #000;
}
.form-div button {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  /* /// */
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
}

.form-div .input-button {
  position: relative;
  display: inline;
}

.form-div form input:hover {
  color: #090909;
}

.form-div h1 {
  text-align: center;
}

.form-div h2 {
  display: block;
}

.form-div p,
.form-div img {
  display: inline-block;
}

.form-div .more-info h4 {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0;
  padding: 0;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  display: block;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

header {
  background-color: transparent;
  padding: 1px 0;
  margin: auto 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

header h2 {
  text-align: center;
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.TR {
  display: inline-block;
  margin: 0 auto 1rem;
  padding: 0 2rem;
  /* background-color: rgb(106, 118, 223); */
  background-color: transparent;
  color: #ececec;
  border-radius: 1.5rem;
}
.TR h5 {
  margin-block: 3rem;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid;
  border-radius: 1.5rem;
  color: #636161;
}

@media screen and (max-width: 1250px) {
  .default {
    display: flex;
    flex-direction: column;
  }
  .default-city {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .form-div {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 870px) {
  .TR {
    display: none;
  }

  .form-div .more-info h4 {
    display: block;
    margin-top: 13px;
  }
}
@media screen and (max-width: 700px) {
  form {
    width: auto;
  }
  .form-div form input {
    width: 15rem;
  }
}
